<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<typeAliases>
		<!-- master -->
		<typeAlias alias="building" type="com.building.dto.master.MasterBuildingDto"/>
		<typeAlias alias="floor" type="com.building.dto.master.MasterFloorDto"/>
		<typeAlias alias="room" type="com.building.dto.master.MasterRoomDto"/>
		<typeAlias alias="asset" type="com.building.dto.master.MasterAssetDto"/>
		<typeAlias alias="news" type="com.building.dto.master.MasterNewsDto"/>
		<typeAlias alias="complaint" type="com.building.dto.master.MasterComplaintDto"/>
		<typeAlias alias="service" type="com.building.dto.master.MasterServicesDto"/>
		<!-- end master -->
		<!-- user -->
		<typeAlias alias="empAuth" type="com.building.dto.login.AuthorizedUserInfo" />
		<typeAlias alias="user" type="com.building.dto.login.UserDto"/>
		<typeAlias alias="roleGroup" type="com.building.dto.login.RoleGroupDto" />
		<typeAlias alias="userRoleGroup" type="com.building.dto.login.UserRoleGroupDto" />
		<typeAlias alias="userRoom" type="com.building.dto.UserRoomDto" />
		<!-- end user -->
		<!-- booking service -->
		<typeAlias alias="bookService" type="com.building.dto.BookingServiceDto"/>
		<typeAlias alias="serviceAsset" type="com.building.dto.ServiceAsset"/>
		<typeAlias alias="bookingServiceGroup" type="com.building.dto.BookingServiceGroup"/>
		<!-- end booking service -->
		<typeAlias alias="newsDetail" type="com.building.dto.NewsDetailDto"/>
		<typeAlias alias="t_asset" type="com.building.dto.TransferAssetDto"/>
		<typeAlias alias="tComplaint" type="com.building.dto.TransferComplaintDto"/>
		<typeAlias alias="tReply" type="com.building.dto.TransferReplyDto"/>
		<typeAlias alias="profile" type="com.building.dto.ProfileDto"/>
	</typeAliases>
</configuration>