<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.building.mapper.RequestBookingMapper">

	<delete id="deleteById">
		DELETE FROM T_BOOKING_SERVICE WHERE bookingServiceCode = #{id}
	</delete>
	<select id="findAllBooking" resultType="bookService">
		SELECT * FROM T_BOOKING_SERVICE ORDER BY created
	</select>
	<select id="searchListByUserId" resultType="bookService">
		SELECT * FROM T_BOOKING_SERVICE WHERE userId = #{userId} ORDER BY created
	</select>
	<select id="searchServiceGroupById" resultType="bookingServiceGroup">
		SELECT * FROM T_BOOKING_SERVICE_GROUP WHERE bookingServiceCode = #{bookingServiceCode} ORDER BY bookingServiceCode
	</select>

</mapper>
